<!-- used / estimated -->
<div class="row-fluid">
  <div class="hero-unit">
    <h1><%= current_usage %></h1>
    <p><small>current usage</small></p>
  </div>

  <div class="pull-right alert alert-error">
    <h2><%= estimated_usage %></h2>
    <p><small>estimated end of month usage</small></p>
  </div>
</div>

<!-- daily use graph -->
<div class="row-fluid">
  <div class="well">
    <%= chart_tag 'daily_use' %>
  </div>
</div>

<!-- monthly use graph -->
<div class="row-fluid">
  <div class="well">
    <%= chart_tag 'monthly_use' %>
  </div>
</div>

<!-- details -->
<div class="row-fluid">
  <pre>
    <%= @vnstat_days %>
  </pre>
</div>

<div class="row-fluid">
  <pre>
    <%= @vnstat_months %>
  </pre>
</div>
