<div>
  <legend>
    <%= AVAILABLE_DEVICES[@device.to_sym] %>
  </legend>
</div>

<div class="row usage">
  <div class="col-md-4">
    <%= current_usage @vnstats[:oneline], @device %>
  </div>
  <div class="col-md-4">
    <%= days_usage @vnstats[:oneline] %>
  </div>
  <div class="col-md-4">
    <%= estimated_usage @vnstats %>
  </div>
</div>

<div class="row devices">
  <% if AVAILABLE_DEVICES.size > 1 %>
    <div class="btn-group col-md-12">
      <% AVAILABLE_DEVICES.each do |k, v| %>
        <%= link_to v, root_path(dev: k), class: "btn btn-xs btn-default" %>
      <% end %>
    </div>
  <% end %>
</div>
<div class="clearfix"></div>

<% if !@vnstats[:days].nil? %>
  <!-- daily use graph -->
  <div class="row">
    <div class="col-sm-12">
      <%= chart_tag 'daily_use', { dev: @device } %>
    </div>
  </div>
<% end %>

<% if !@vnstats[:months].nil? %>
  <!-- monthly use graph -->
  <div class="row">
    <div class="col-sm-12">
      <%= chart_tag 'monthly_use', { dev: @device } %>
    </div>
  </div>
<% end %>

<!-- details -->
<div class="row history">
  <% if !@vnstats[:days].nil? %>
      <div class="col-sm-6 center">
        <%= daily_history @vnstats[:days] %>
      </div>
  <% end %>

  <% if !@vnstats[:months].nil? %>
      <div class="col-sm-6 center">
        <%= monthly_history @vnstats[:months] %>
      </div>
  <% end %>
</div>
