
<div class="row-fluid usage">
  <div class="span4">
    <%= current_usage @vnstats[:oneline], @device %>
  </div>
  <div class="span4">
    <%= days_usage @vnstats[:oneline] %>
  </div>
  <div class="span4">
    <%= estimated_usage @vnstats %>
  </div>
</div>
<div class="row-fluid">
  <% if AVAILABLE_DEVICES.size > 1 %>
    <div class="btn-group span12">
      <% AVAILABLE_DEVICES.each do |k, v| %>
        <%= link_to v, root_path(dev: k), class: "btn btn-mini btn-default" %>
      <% end %>
    </div>
  <% else %>
    <div class="span12"></div>
  <% end %>
</div>
<div class="clearfix"></div>

<!-- daily use graph -->
<div class="row-fluid">
  <div class="well">
    <%= chart_tag 'daily_use', { dev: @device } %>
  </div>
</div>

<!-- monthly use graph -->
<div class="row-fluid">
  <div class="well">
    <%= chart_tag 'monthly_use', { dev: @device } %>
  </div>
</div>

<!-- details -->
<div class="row-fluid history">
  <div class="span6 center">
    <%= daily_history @vnstats[:days] %>
  </div>
  <div class="span6 center">
    <%= monthly_history @vnstats[:months] %>
  </div>
</div>
